<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    <!--p*4>input[name placeholder]-->
   
        <p>
            請選擇預計購買的<br><br>
            DataCore 主程式:
            <select name="product">
                <option value="1">DataCore vL1</option>
                <option value="2">DataCore vL2</option>
                <option value="3">DataCore HS5</option>
            </select>
        </p>

        <!--<p>
            DataCore 擴功模組:
            <select name="product">
                <option value="1">Fiber</option>
                <option value="2">ARR</option>
                <option value="3">ASR</option>
                 <option value="3">CDP</option>
                  <option value="3">AST</option>
            </select>
        </p>-->

        <p>
            DataCore Anual support:
            <select name="product">
                <option value="1">DataCore vL1 Anual support</option>
                <option value="2">DataCore vL2 Anual support</option>
                <option value="3">DataCore HS5 Anual support</option>
            </select>
        </p>

       <form>
        DataCore 擴功模組:<br><br>
        <input type="checkbox" name="Fruit" value="Apple"> Fiber<br>
        <input type="checkbox" name="Fruit" value="Bananas"> ARR<br>
         <input type="checkbox" name="Fruit" value="Apple"> ASR<br>
        <input type="checkbox" name="Fruit" value="Bananas"> CDP<br>
         <input type="checkbox" name="Fruit" value="Apple"> AST<br>
        </form>

        <!--btn:s{送出!!!}-->
        <button type="submit">報價</button>







</body>
</html>