<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Bootstrap Real Estate Website Template</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="file:///C|/Users/hsuan_deng/Documents/未命名網站 2/css/bootstrap.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myInverseNavbar2" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#">Ulink 營運系統</a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myInverseNavbar2">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                    <li><a href="#">Log out</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Admin</a></li>
                </ul>
        <li><a href="#">公司資料建檔</a>&nbsp;</li>
        <li><a href="#">聯絡人建檔</a>&nbsp;</li>
        <li><a href="#">客資查詢</a>&nbsp;</li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">建立表單&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Booking單</a></li>
            <li><a href="#">報價單</a></li>
            <li><a href="#">訂單</a></li>
            <li><a href="#">採購單</a></li>
            <li><a href="#">服務工單</a></li>
            <li><a href="#">維護工單</a></li>
            <li><a href="#">支援單</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">單況查詢&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Booking單</a></li>
            <li><a href="#">報價單</a></li>
            <li><a href="#">訂單</a></li>
            <li><a href="#">採購單</a></li>
            <li><a href="#">服務工單</a></li>
            <li><a href="#">維護工單</a></li>
            <li><a href="#">支援單</a></li>
          </ul>
        </li>
      </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

</nav>
<div class="container">
  <h6 class="col-xs-3 col-sm-2"><strong>客資查詢</strong></h6>
  <div class="row">
	<div class="col-sm-offset-0 col-xs-8 col-sm-9">
  <div id="imaginary_container"> 
          <div class="input-group stylish-input-group col-xs-12 col-sm-12">
            <input type="text" class="form-control"  placeholder="請輸入客戶名稱" >
<span class="input-group-addon">
          <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
            </span>
        </div>
      </div>
      </div>
  </div>
</div>
<hr>
<section>
  <div class="container">
    <div class="row">  
<div class="media-object-default">
<div class="col-lg-3 col-md-6 col-md-offset-3 col-lg-offset-0">
      <div class="well">
                   <form class="form-horizontal">
          <div class="form-group">
            <div class="media-left"> <a href="#">  </a> </div>
            <div class="media-body">
              <h6 class="media-heading col-sm-4 col-xs-4"><strong>公司名稱</strong></h6>
              <h6 class="media-heading">例如:大綜電腦系統股份有限公司</h6>
              <h6 class="media-heading col-sm-4 col-xs-4"><strong>客戶類別</strong></h6><!--(建立檔擇此處無法點選 只能顯示) -->
              <div class="form-group col-sm-8 col-xs-8">
            <select class="form-control" name="" id="location1">
              <option value="">經銷商</option>
              <option value="">代理商</option>
              <option value="">原廠</option>
             <option value="">一般客戶</option>
            <option value="">經銷商客戶</option>
            </select>
            </div>
              <h6 class="media-heading col-sm-4 col-xs-4"><strong>負責人</strong></h6><!-- (管理人員才可以設定) -->
              <div class="form-group col-sm-8 col-xs-8">
            <select class="form-control" name="" id="location1">
            <option value="">蕭至成</option>
            <option value="">陳婉姿</option>
            <option value="">張維恩</option>
            <option value="">高銘志</option>
            <option value="">楊雅婷</option>
            <option value="">顏雪芳</option>
            <option value="">魏建寧</option>
            <option value="">鄧宣文</option>
            <option value="">蕭忻諭</option>
            <option value="">李宗遠</option>
            <option value="">王朝威</option>
            <option value="">游重斌</option>
            <option value="">吳東宇</option>
            <option value="">趙玉婷</option>
            <option value="">蔡嘉豪</option>
            <option value="">陳昭維</option>
            </select>
            </div>
                         <h5 class="media-heading col-sm-4 col-xs-4"><input type="radio">工業局</h5><!-- (此處僅顯示無法點選) -->
             <h5 class="media-heading col-sm-4 col-xs-4"><input type="radio">DCIE</h5><!-- (此處僅顯示無法點選) -->
          </select>
          </div>
        </div>
      </div>
<hr>

<section>
  <div class="container">
    <div class="row">
<div class="col-lg-6">
        <ul id="myTab1" class="nav nav-tabs nav-xs">
          <li class="active"> <a href="#home1" data-toggle="tab">全部案例</a> </li>
          <li><a href="#pane2" data-toggle="tab">Booking</a></li>
          <li><a href="#pane3" data-toggle="tab">報價</a></li>
          <li> <a href="#pane4" data-toggle="tab">成交</a> </li>
          <li> <a href="#pane5" data-toggle="tab">出貨</a> </li>
          <li> <a href="#pane6" data-toggle="tab">維護(有合約)</a> </li>
          <li> <a href="#pane7" data-toggle="tab">服務(沒合約)</a> </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">品牌<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li> <a href="#pane8" data-toggle="tab">DataCore</a> </li>
                <li><a href="#pane9">NAKIVO</a></li>
                <li><a href="#pane10">GoGlobal</a></li>
                <li><a href="#pane11">HyperINF</a></li>
                <li><a href="#pane12">Veeam</a></li>
                <li><a href="#pane13">其他</a></li>
        </ul>
        </li>
    </ul> 
<div id="myTabContent1" class="tab-content">
<div class="tab-pane fade in active" id="home1">
  <p>End User  業務 &nbsp; &nbsp; &nbsp; 案名 &nbsp; &nbsp; &nbsp;金額 狀態   </p>
  <hr>
<p>日月光半導體製造股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx  成交</p>
<p>寶雅國際股份有限公司 蘇奕豪 DataCore VL3*2+FC*2+AST*2+44TB  $xxxxxxx 報價</p>
<p>勝和科技有限公司 蘇奕豪 NAKIVO Pro CPU*12  $xxxxxxx  成交</p>
<p>飛捷科技股份有限公司 石為杰 DataCore MA  $xxxxxxx  成交</p>
<p>貢茶國際股份有限公司 林啟瑋 NAKIVO Pro Essentials*2CPU  $xxxxxxx ULQ1060101 成交< </p>
<p>唯晶數位娛樂股份有限公司 陳偉德 NAKIVO Pro *8CPU  $xxxxxxx ULQ1060101 報備</p>
<p>神通資訊科技股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx ULQ1060101  報備 </p>
<p>寶一科技股份有限公司 蘇奕豪 DataCore HS5*2+FC*2  $xxxxxxx ULQ1060101 報備</p>
<p>亞洲航空股份有限公司 蘇奕豪 NAKIVO Pro CPU*6  $xxxxxxx ULQ1060101 報價</p> 
</div>
<div class="tab-pane fade" id="pane2">
<p class="text-center">
            <p>End User &nbsp;業務 &nbsp; &nbsp;案名 &nbsp; &nbsp;狀態 &nbsp;結案日   </p>
            <p><hr></p>
        <p>日月光半導體製造股份有限公司 陳偉德 DataCore HS5*2 &nbsp;Approval  201x/xx/xx</p>
        <p>寶雅國際股份有限公司 蘇奕豪 DataCore VL3*2+FC*2+AST*2+44TB  Approval   201x/xx/xx</p>
            <p>勝和科技有限公司 蘇奕豪 NAKIVO Pro CPU*12  Approval&nbsp; 201x/xx/xx</p>
            <p>飛捷科技股份有限公司 石為杰 DataCore MA  $xxxxxxx  </p>
            <p>貢茶國際股份有限公司 林啟瑋 NAKIVO Pro Essentials*2CPU Rejection&nbsp;201x/xx/xx</p>
            <p>唯晶數位娛樂股份有限公司 陳偉德 NAKIVO Pro *8CPU  Approval  201x/xx/xx</p>
<p>神通資訊科技股份有限公司 陳偉德 DataCore HS5*2  Rejection 201x/xx/xx</p>
<p>寶一科技股份有限公司 蘇奕豪 DataCore HS5*2+FC*2  Approval  201x/xx/xx</p>
<p>亞洲航空股份有限公司 蘇奕豪 NAKIVO Pro CPU*6  Rejection 201x/xx/xx</p>
</div>
<div class="tab-pane fade" id="pane3">
<p class="text-center">
            <p>End User &nbsp; &nbsp; 業務 &nbsp; &nbsp; &nbsp; 案名 &nbsp; &nbsp; &nbsp; 金額  狀態</p>
            <p><hr></p>
<p>日月光半導體製造股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx 201x/xx/xx</p>
<p>寶雅國際股份有限公司 蘇奕豪 DataCore VL3*2+FC*2+AST*2+44TB  $xxxxxxx  201x/xx/xx</p>
<p>勝和科技有限公司 蘇奕豪 NAKIVO Pro CPU*12  $xxxxxxx  </p>
<p>飛捷科技股份有限公司 石為杰 DataCore MA  $xxxxxxx  </p>
<p>貢茶國際股份有限公司 林啟瑋 NAKIVO Pro Essentials*2CPU  $xxxxxxx  201x/xx/xx</p>
<p>唯晶數位娛樂股份有限公司 陳偉德 NAKIVO Pro *8CPU  $xxxxxxx 201x/xx/xx</p>
<p>神通資訊科技股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx 201x/xx/xx</p>
<p>寶一科技股份有限公司 蘇奕豪 DataCore HS5*2+FC*2  $xxxxxxx 201x/xx/xx</p>
<p>亞洲航空股份有限公司 蘇奕豪 NAKIVO Pro CPU*6  $xxxxxxx 201x/xx/xx</p> 
</div>
<div class="tab-pane fade" id="pane4">
<p class="text-center">
            <p>End User  業務  案名  金額  狀態</p>
            <p><hr></p>
        <p>日月光半導體製造股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx </p>
            <p>寶雅國際股份有限公司 蘇奕豪 DataCore VL3*2+FC*2+AST*2+44TB  $xxxxxxx </p>
            <p>勝和科技有限公司 蘇奕豪 NAKIVO Pro CPU*12  $xxxxxxx  </p>
<p>飛捷科技股份有限公司 石為杰 DataCore MA  $xxxxxxx  </p>
<p>貢茶國際股份有限公司 林啟瑋 NAKIVO Pro Essentials*2CPU  $xxxxxxx</p>
<p>唯晶數位娛樂股份有限公司 陳偉德 NAKIVO Pro *8CPU  $xxxxxxx </p>
<p>神通資訊科技股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx </p>
<p>寶一科技股份有限公司 蘇奕豪 DataCore HS5*2+FC*2  $xxxxxxx </p>
<p>亞洲航空股份有限公司 蘇奕豪 NAKIVO Pro CPU*6  $xxxxxxx</p>
</div>
<div class="tab-pane fade" id="pane5">
            <p class="text-center">
            <p>End User &nbsp; 業務 &nbsp; 案名  金額  出貨日   </p>
            <p><hr></p>
<p>日月光半導體製造股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx 201x/xx/xx</p>
<p>寶雅國際股份有限公司 蘇奕豪 DataCore VL3*2+FC*2+AST*2+44TB  $xxxxxxx  201x/xx/xx</p>
<p>勝和科技有限公司 蘇奕豪 NAKIVO Pro CPU*12  $xxxxxxx  201x/xx/xx</p>
<p>飛捷科技股份有限公司 石為杰 DataCore MA  $xxxxxxx  201x/xx/xx </p>
<p>貢茶國際股份有限公司 林啟瑋 NAKIVO Pro Essentials*2CPU  $xxxxxxx  201x/xx/xx</p>
<p>唯晶數位娛樂股份有限公司 陳偉德 NAKIVO Pro *8CPU  $xxxxxxx 201x/xx/xx</p>
<p>神通資訊科技股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx 201x/xx/xx</p>
<p>寶一科技股份有限公司 蘇奕豪 DataCore HS5*2+FC*2  $xxxxxxx 201x/xx/xx</p>
<p>亞洲航空股份有限公司 蘇奕豪 NAKIVO Pro CPU*6  $xxxxxxx 201x/xx/xx</p> 
</div>
<div class="tab-pane fade" id="pane6">
<p class="text-center">
            <p>End User &nbsp; &nbsp; &nbsp; &nbsp;案名 &nbsp; &nbsp; &nbsp; 狀態 &nbsp; &nbsp; &nbsp; &nbsp; 維護到期日   </p>
            <p><hr></p>
        <p>日月光半導體製造股份有限公司 DataCore HS5*2 201x/xx/xx</p>
        <p>寶雅國際股份有限公司 &nbsp;DataCore VL3*2+FC*2+AST*2+44TB 201x/xx/xx</p>
        <p>勝和科技有限公司 &nbsp;NAKIVO Pro CPU*12  201x/xx/xx </p>
        <p>飛捷科技股份有限公司 &nbsp;DataCore MA  201x/xx/xx </p>
        <p>貢茶國際股份有限公司 &nbsp;NAKIVO Pro Essentials*2CPU 201x/xx/xx</p>
        <p>唯晶數位娛樂股份有限公司 &nbsp;NAKIVO Pro *8CPU  201x/xx/xx</p>
        <p>神通資訊科技股份有限公司 &nbsp;DataCore HS5*2  201x/xx/xx</p>
        <p>寶一科技股份有限公司 &nbsp;DataCore HS5*2+FC*2  201x/xx/xx</p>
            <p>亞洲航空股份有限公司 &nbsp;NAKIVO Pro CPU*6  201x/xx/xx</p>
</div>
<div class="tab-pane fade" id="pane7">
<p class="text-center">
            <p>End User &nbsp; &nbsp; &nbsp;案名 &nbsp;  狀態  服務到期日   </p>
            <p><hr></p>
        <p>日月光半導體製造股份有限公司 &nbsp;DataCore HS5*2 201x/xx/xx</p>
        <p>寶雅國際股份有限公司 DataCore VL3*2+FC*2+AST*2+44TB 201x/xx/xx</p>
        <p>勝和科技有限公司 &nbsp;NAKIVO Pro CPU*12  201x/xx/xx </p>
        <p>飛捷科技股份有限公司 &nbsp;DataCore MA  201x/xx/xx </p>
        <p>貢茶國際股份有限公司 &nbsp;NAKIVO Pro Essentials*2CPU 201x/xx/xx</p>
        <p>唯晶數位娛樂股份有限公司 &nbsp;NAKIVO Pro *8CPU  201x/xx/xx</p>
        <p>神通資訊科技股份有限公司 &nbsp;DataCore HS5*2  201x/xx/xx</p>
        <p>寶一科技股份有限公司 &nbsp;DataCore HS5*2+FC*2  201x/xx/xx</p>
            <p>亞洲航空股份有限公司 &nbsp;NAKIVO Pro CPU*6  201x/xx/xx</p>
</div>
<div class="tab-pane fade" id="pane8">
<p class="text-center">
            <p>End User &nbsp; &nbsp; 業務 &nbsp; &nbsp;案名  狀態 金額   </p>
            <p><hr></p>
<p>日月光半導體製造股份有限公司 陳偉德 DataCore HS5*2 $xxxxxxx </p>
<p>寶雅國際股份有限公司 蘇奕豪 DataCore VL3*2+FC*2+AST*2+44TB $xxxxxxx </p>
<p>飛捷科技股份有限公司 石為杰 DataCore MA  $xxxxxxx  </p>
<p>神通資訊科技股份有限公司 陳偉德 DataCore HS5*2  $xxxxxxx </p>
<p>寶一科技股份有限公司 蘇奕豪 DataCore HS5*2+FC*2  $xxxxxxx </p>
　<br>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © Ulink Technology Co.,Ltd. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="file:///C|/Users/hsuan_deng/Documents/未命名網站 2/js/jquery-1.11.3.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="file:///C|/Users/hsuan_deng/Documents/未命名網站 2/js/bootstrap.js"></script>
</body>
</html>